.App {
  margin: 10px;
  padding: 32px;
}

.searchDiv {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
}

.searchDivInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.searchDiv form {
  display: flex;
  flex-direction: column;
}

.searchDiv label {
  color: blue;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}

.searchDiv form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 100%;
}

.searchDiv form button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 100px;
  cursor: pointer;
}

.searchDiv form button:hover {
  background-color: lightgray;
}

.imageList {
  margin-top: 16px;
  columns: 250px 5;
  column-gap: 10px;
}

.imageListImg {
  margin-top: 16px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.imageListImg:hover {
  transform: scale(1.05);
}
